:root {
  --clr-dark: #0f172a;
  --clr-light: #dddddd;
  --clr-accent: #820000;
  --clr-topo: #820000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 0 0 0;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  margin: 0 auto;
  border: 0px solid var(--clr-dark);
  display: grid;
  grid-template-columns: 60px,130px,1fr;
  justify-content: top;
  align-content: top;
}

.topo, .topo1, .topo2, .topo3, .corpo, .esquerda, .direita {
  font-weight: 700;
  color: var(--clr-dark);
  border: 0px solid var(--clr-dark);
}

/* ALterações */

.topo {
  grid-area: 1 / 1 / 1 / 3;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--clr-light);
  background-color: var(--clr-topo);
  height: 60px;
}

.topo1 {
  grid-area: 2 / 1 / 2 / 3;
  display:flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 120px;
  z-index: 999;
}

.adireita {
  display:flex;
  flex-direction: row;
  justify-content: right;
  vertical-align: top;
}

.topo2 {
  grid-area: 2 / 1 / 2 / 3;
  justify-content: top;
  align-items: top;
  vertical-align: top;
  padding-top: 10px;
}

.topo3 {
  grid-area: 3 / 1 / 3 / 3;
  justify-content: top;
  align-items: top;
  vertical-align: top;
}

.esquerda {
  z-index: 999;
}

.direita {
  z-index: 999;
}

.datavis {
  grid-area: 2 / 1 / 2 / 3;
  vertical-align: top;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
