
data/gates_money.csv
src/bubble_chart-com-busca-e-radial-sem-filtros.js
src/bubble_chart-combusca-radial.js
src/bubble_chart-combusca.js
src/bubble_chart-quase.js
data/junho-de-ate.csv
data/junho-expos.csv
data/junho-primeira.csv
data/junho.csv
index-orig.html
index-orig.html
src/bubble_chart bkp.js
img/icons8-perímetro-virtual-24.png
img/icons8-perímetro-virtual-24.png
img/icons8-perímetro-virtual-material-rounded-16.png
img/icons8-perímetro-virtual-24.png
src/bubble_chart2.js
css/tira-reset.css
css/reset.css
